USE [API_Server]
GO
ALTER TABLE [dbo].[UserWithRoles] DROP CONSTRAINT [FK_UserWithRoles_Users]
GO
ALTER TABLE [dbo].[UserWithRoles] DROP CONSTRAINT [FK_UserWithRoles_RolesInDepartment]
GO
ALTER TABLE [dbo].[Files] DROP CONSTRAINT [DF_Files_createDate]
GO
ALTER TABLE [adm].[Rounds] DROP CONSTRAINT [DF_Round_UpdateDate]
GO
ALTER TABLE [adm].[Rounds] DROP CONSTRAINT [DF_Round_CreateDate]
GO
ALTER TABLE [adm].[Rewards] DROP CONSTRAINT [DF_Rewards_CreateDate]
GO
/****** Object:  Index [UniqueEcode_Users]    Script Date: 9/2/2020 11:33:24 PM ******/
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [UniqueEcode_Users]
GO
/****** Object:  Table [dbo].[UserWithRoles]    Script Date: 9/2/2020 11:33:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserWithRoles]') AND type in (N'U'))
DROP TABLE [dbo].[UserWithRoles]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/2/2020 11:33:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[RolesToPermissions]    Script Date: 9/2/2020 11:33:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RolesToPermissions]') AND type in (N'U'))
DROP TABLE [dbo].[RolesToPermissions]
GO
/****** Object:  Table [dbo].[RolesInDepartment]    Script Date: 9/2/2020 11:33:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RolesInDepartment]') AND type in (N'U'))
DROP TABLE [dbo].[RolesInDepartment]
GO
/****** Object:  Table [dbo].[ModulesForUsers]    Script Date: 9/2/2020 11:33:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ModulesForUsers]') AND type in (N'U'))
DROP TABLE [dbo].[ModulesForUsers]
GO
/****** Object:  Table [dbo].[Files]    Script Date: 9/2/2020 11:33:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Files]') AND type in (N'U'))
DROP TABLE [dbo].[Files]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 9/2/2020 11:33:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employee]') AND type in (N'U'))
DROP TABLE [dbo].[Employee]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 9/2/2020 11:33:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Departments]') AND type in (N'U'))
DROP TABLE [dbo].[Departments]
GO
/****** Object:  Table [adm].[Rounds]    Script Date: 9/2/2020 11:33:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[adm].[Rounds]') AND type in (N'U'))
DROP TABLE [adm].[Rounds]
GO
/****** Object:  Table [adm].[Rewards]    Script Date: 9/2/2020 11:33:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[adm].[Rewards]') AND type in (N'U'))
DROP TABLE [adm].[Rewards]
GO
/****** Object:  Table [adm].[Results]    Script Date: 9/2/2020 11:33:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[adm].[Results]') AND type in (N'U'))
DROP TABLE [adm].[Results]
GO
/****** Object:  Schema [adm]    Script Date: 9/2/2020 11:33:24 PM ******/
DROP SCHEMA [adm]
GO
/****** Object:  Schema [adm]    Script Date: 9/2/2020 11:33:24 PM ******/
CREATE SCHEMA [adm]
GO
/****** Object:  Table [adm].[Results]    Script Date: 9/2/2020 11:33:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [adm].[Results](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ecode] [nvarchar](100) NOT NULL,
	[WinOnRound] [int] NOT NULL,
	[WinOnStage] [int] NOT NULL,
	[Status] [bit] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Results] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [adm].[Rewards]    Script Date: 9/2/2020 11:33:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [adm].[Rewards](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Quantity] [int] NULL,
	[Image] [nvarchar](100) NULL,
	[Round] [int] NULL,
	[NoOfRound] [int] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_Rewards] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [adm].[Rounds]    Script Date: 9/2/2020 11:33:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [adm].[Rounds](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Round] [int] NOT NULL,
	[Stage] [int] NOT NULL,
	[QuantityOfStage] [int] NOT NULL,
	[IsDrawn] [bit] NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Image] [nvarchar](200) NULL,
	[FileEffect] [nvarchar](200) NULL,
	[VideoLenght] [int] NULL,
	[TimeoutAction] [int] NULL,
	[Animation] [int] NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_Round] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 9/2/2020 11:33:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[departmentName] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 9/2/2020 11:33:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ecode] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[GivenName] [nvarchar](100) NOT NULL,
	[DeptID] [int] NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Files]    Script Date: 9/2/2020 11:33:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Files](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[guid] [nvarchar](200) NOT NULL,
	[fileName] [nvarchar](200) NOT NULL,
	[extension] [nchar](50) NULL,
	[userCreate] [nvarchar](200) NULL,
	[userUpdate] [nvarchar](200) NULL,
	[createDate] [datetime] NULL,
	[updateDate] [datetime] NULL,
 CONSTRAINT [PK_Files] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModulesForUsers]    Script Date: 9/2/2020 11:33:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModulesForUsers](
	[UserId] [nvarchar](450) NOT NULL,
	[AllowedPaidForModules] [bigint] NOT NULL,
 CONSTRAINT [PK_ModulesForUsers] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesInDepartment]    Script Date: 9/2/2020 11:33:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesInDepartment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[deptId] [int] NOT NULL,
	[roleName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_RolesInDepartment] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[deptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesToPermissions]    Script Date: 9/2/2020 11:33:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesToPermissions](
	[RoleName] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[PermissionsInRole] [varchar](max) NOT NULL,
 CONSTRAINT [PK_RolesToPermissions] PRIMARY KEY CLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/2/2020 11:33:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[eCode] [nvarchar](100) NOT NULL,
	[firstName] [nvarchar](100) NOT NULL,
	[givenName] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
	[password] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_AdmUsers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserWithRoles]    Script Date: 9/2/2020 11:33:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserWithRoles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[eCode] [nvarchar](100) NOT NULL,
	[deptId] [int] NULL,
	[roleId] [int] NULL,
 CONSTRAINT [PK_UserWithRoles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [adm].[Results] ON 

INSERT [adm].[Results] ([ID], [Ecode], [WinOnRound], [WinOnStage], [Status], [Description]) VALUES (3031, N'102294', 1, 1, NULL, NULL)
INSERT [adm].[Results] ([ID], [Ecode], [WinOnRound], [WinOnStage], [Status], [Description]) VALUES (3032, N'109735', 1, 1, NULL, NULL)
INSERT [adm].[Results] ([ID], [Ecode], [WinOnRound], [WinOnStage], [Status], [Description]) VALUES (3033, N'111034', 1, 2, NULL, NULL)
GO
SET IDENTITY_INSERT [adm].[Results] OFF
GO
SET IDENTITY_INSERT [adm].[Rewards] ON 

INSERT [adm].[Rewards] ([ID], [Name], [Quantity], [Image], [Round], [NoOfRound], [CreateDate]) VALUES (1, N'Quạt điều hòa Daikio DKA-04000A', 4, N'img/adm/bg-img/1.png', 7, 2, CAST(N'2020-08-14T08:04:40.563' AS DateTime))
INSERT [adm].[Rewards] ([ID], [Name], [Quantity], [Image], [Round], [NoOfRound], [CreateDate]) VALUES (2, N'Tủ lạnh LG GN-M255BL - 255', 1, N'img/adm/bg-img/2_1.png', 8, 1, CAST(N'2020-08-14T08:06:18.280' AS DateTime))
INSERT [adm].[Rewards] ([ID], [Name], [Quantity], [Image], [Round], [NoOfRound], [CreateDate]) VALUES (3, N'Cây lau nhà 360 độ', 15, N'img/adm/bg-img/4.jpg', 6, 2, CAST(N'2020-08-14T08:08:39.273' AS DateTime))
SET IDENTITY_INSERT [adm].[Rewards] OFF
GO
SET IDENTITY_INSERT [adm].[Rounds] ON 

INSERT [adm].[Rounds] ([ID], [Round], [Stage], [QuantityOfStage], [IsDrawn], [Name], [Image], [FileEffect], [VideoLenght], [TimeoutAction], [Animation], [CreateDate], [UpdateDate]) VALUES (1, 1, 1, 2, 1, N'Bộ cốc thủy tinh', N'img/adm/bg-img/coc-vnpt.jpg', N'video/r1.mp4', NULL, 10, NULL, CAST(N'2020-08-17T18:31:40.047' AS DateTime), CAST(N'2020-08-17T18:31:40.047' AS DateTime))
INSERT [adm].[Rounds] ([ID], [Round], [Stage], [QuantityOfStage], [IsDrawn], [Name], [Image], [FileEffect], [VideoLenght], [TimeoutAction], [Animation], [CreateDate], [UpdateDate]) VALUES (2, 1, 2, 1, 1, N'Bộ ấm trà sứ', N'img/adm/bg-img/teacup.png', N'video/r1.mp4', NULL, 10, NULL, CAST(N'2020-08-17T18:32:43.370' AS DateTime), CAST(N'2020-08-17T18:32:43.370' AS DateTime))
INSERT [adm].[Rounds] ([ID], [Round], [Stage], [QuantityOfStage], [IsDrawn], [Name], [Image], [FileEffect], [VideoLenght], [TimeoutAction], [Animation], [CreateDate], [UpdateDate]) VALUES (3, 1, 3, 2, 1, N'Sạc đa năng', N'img/adm/bg-img/charge.png', N'video/r1.mp4', NULL, 10, NULL, CAST(N'2020-08-17T18:34:23.690' AS DateTime), CAST(N'2020-08-17T18:34:23.690' AS DateTime))
SET IDENTITY_INSERT [adm].[Rounds] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([id], [departmentName], [description]) VALUES (1, N'ADM', NULL)
INSERT [dbo].[Departments] ([id], [departmentName], [description]) VALUES (2, N'AI', NULL)
INSERT [dbo].[Departments] ([id], [departmentName], [description]) VALUES (3, N'BM', NULL)
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Files] ON 

INSERT [dbo].[Files] ([id], [guid], [fileName], [extension], [userCreate], [userUpdate], [createDate], [updateDate]) VALUES (1, N'abc', N'abc.jpg', NULL, NULL, NULL, CAST(N'2020-07-07T14:35:05.583' AS DateTime), NULL)
INSERT [dbo].[Files] ([id], [guid], [fileName], [extension], [userCreate], [userUpdate], [createDate], [updateDate]) VALUES (2, N'133031b8fd1d', N'3d42b8d4-9bba-458d-a9f3-a9ae8832d4e1.jpg', N'.jpg                                              ', NULL, NULL, NULL, NULL)
INSERT [dbo].[Files] ([id], [guid], [fileName], [extension], [userCreate], [userUpdate], [createDate], [updateDate]) VALUES (3, N'133523471710', N'4f90f084-202f-449f-a10b-2df0a2340337.jpg', N'.jpg                                              ', N'System', N'System', CAST(N'2020-08-06T13:35:23.837' AS DateTime), CAST(N'2020-08-06T13:35:23.837' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Files] OFF
GO
SET IDENTITY_INSERT [dbo].[RolesInDepartment] ON 

INSERT [dbo].[RolesInDepartment] ([id], [deptId], [roleName]) VALUES (15, 1, N'Staff')
INSERT [dbo].[RolesInDepartment] ([id], [deptId], [roleName]) VALUES (16, 2, N'Staff')
INSERT [dbo].[RolesInDepartment] ([id], [deptId], [roleName]) VALUES (17, 3, N'Staff')
SET IDENTITY_INSERT [dbo].[RolesInDepartment] OFF
GO
INSERT [dbo].[RolesToPermissions] ([RoleName], [Description], [PermissionsInRole]) VALUES (N'Admin', N'Admin can manage users, but not read data', N'"UserRead,UserChange","Feature1Access","Feature2Access"')
INSERT [dbo].[RolesToPermissions] ([RoleName], [Description], [PermissionsInRole]) VALUES (N'Manager', N'Managers can read/write the data', N'"ColorRead","ColorCreate","ColorDelete","ColorUpdate","Feature1Access"')
INSERT [dbo].[RolesToPermissions] ([RoleName], [Description], [PermissionsInRole]) VALUES (N'Staff', N'Staff can only read data', N'"ColorRead","Feature1Access"')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [eCode], [firstName], [givenName], [email], [description], [password]) VALUES (4193, N'100013', N'Lê Thị The', NULL, NULL, NULL, N'mtv')
INSERT [dbo].[Users] ([id], [eCode], [firstName], [givenName], [email], [description], [password]) VALUES (4194, N'100014', N'Nguyễn Thị Hiền', NULL, NULL, NULL, N'mtv')
INSERT [dbo].[Users] ([id], [eCode], [firstName], [givenName], [email], [description], [password]) VALUES (4195, N'100022', N'Nguyễn Thiên Khoa', NULL, NULL, NULL, N'mtv')
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UserWithRoles] ON 

INSERT [dbo].[UserWithRoles] ([id], [eCode], [deptId], [roleId]) VALUES (1, N'100013', 10, 24)
INSERT [dbo].[UserWithRoles] ([id], [eCode], [deptId], [roleId]) VALUES (2, N'100014', 11, 25)
INSERT [dbo].[UserWithRoles] ([id], [eCode], [deptId], [roleId]) VALUES (3, N'100022', 7, 21)
GO
SET IDENTITY_INSERT [dbo].[UserWithRoles] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UniqueEcode_Users]    Script Date: 9/2/2020 11:33:24 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UniqueEcode_Users] UNIQUE NONCLUSTERED 
(
	[eCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [adm].[Rewards] ADD  CONSTRAINT [DF_Rewards_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [adm].[Rounds] ADD  CONSTRAINT [DF_Round_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [adm].[Rounds] ADD  CONSTRAINT [DF_Round_UpdateDate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[Files] ADD  CONSTRAINT [DF_Files_createDate]  DEFAULT (getdate()) FOR [createDate]
GO
ALTER TABLE [dbo].[UserWithRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserWithRoles_RolesInDepartment] FOREIGN KEY([roleId], [deptId])
REFERENCES [dbo].[RolesInDepartment] ([id], [deptId])
GO
ALTER TABLE [dbo].[UserWithRoles] CHECK CONSTRAINT [FK_UserWithRoles_RolesInDepartment]
GO
ALTER TABLE [dbo].[UserWithRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserWithRoles_Users] FOREIGN KEY([eCode])
REFERENCES [dbo].[Users] ([eCode])
GO
ALTER TABLE [dbo].[UserWithRoles] CHECK CONSTRAINT [FK_UserWithRoles_Users]
GO
