
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card card-tasks">
            <div class="card-header ">
                <h6 class="title d-inline">Danh sách website MTV</h6>
            </div>
            <div class="card-body ">
                <div class="table-full-width table-responsive">
                    <table class="table">
                        <tbody>
                            <tr onclick="location.href = 'http://10.120.110.221:8002'">
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">01</label>
                                    </div>
                                </td>
                                <td>
                                    <p class="title">Đăng ký làm thêm</p>
                                    <p class="text-muted">Hệ thống quản lý làm thêm thuộc bộ phận HR. </p>
                                </td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task" onclick="location.href = 'http://10.120.110.221:8002'">
                                        <i class="tim-icons icon-link-72"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr onclick="location.href = 'http://10.120.110.221:8003'">
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">02</label>
                                    </div>
                                </td>
                                <td>
                                    <p class="title">Quản lý thiết bị</p>
                                    <p class="text-muted">Hệ thống quản lý máy tính và các thiết bị của nhà máy.</p>
                                </td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task" onclick="location.href = 'http://10.120.110.221:8003'">
                                        <i class="tim-icons icon-link-72"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr onclick="location.href = 'http://10.120.110.221:8004'">
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">03</label>
                                    </div>
                                </td>
                                <td>
                                    <p class="title">Quản lý đưa vào model mới</p>
                                    <p class="text-muted">Hệ thống quản lý Model thuộc bộ phận CR.</p>
                                </td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task" onclick="location.href = 'http://10.120.110.221:8004'">
                                        <i class="tim-icons icon-link-72"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr onclick="location.href = 'http://10.120.110.221:8005'">
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">04</label>
                                    </div>
                                </td>
                                <td>
                                    <p class="title">Quản lý đồng phục</p>
                                    <p class="text-muted">Hệ thống quản lý đồng phục thuộc bộ phận HR.</p>
                                </td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task" onclick="location.href = 'http://10.120.110.221:8005'">
                                        <i class="tim-icons icon-link-72"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr onclick="location.href = 'http://10.120.110.221:8006'">
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">05</label>
                                    </div>
                                </td>
                                <td>
                                    <p class="title">Hệ thống báo cáo BM</p>
                                    <p class="text-muted">Hệ thống quản lý, download báo cáo BM thuộc bộ phận HR.</p>
                                </td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task" onclick="location.href = 'http://10.120.110.221:8006'">
                                        <i class="tim-icons icon-link-72"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr onclick="location.href = 'http://10.120.110.221:8007'">
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">06</label>
                                    </div>
                                </td>
                                <td>
                                    <p class="title">Quản lý scan vân tay</p>
                                    <p class="text-muted">Hệ thống quản lý, hỗ trợ lọc xuất danh sách quên scan vân tay thuộc bộ phận BM.</p>
                                </td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task" onclick="location.href = 'http://10.120.110.221:8007'">
                                        <i class="tim-icons icon-link-72"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr onclick="location.href = 'http://10.120.110.221:8020'">
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">07</label>
                                    </div>
                                </td>
                                <td>
                                    <p class="title">Kiểm kê - In QR code (PSNV)</p>
                                    <p class="text-muted">Hệ thống quản lý, kiểm kê, in QR code (PSNV) thuộc bộ phận LOG.</p>
                                </td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task" onclick="location.href = 'http://10.120.110.221:8020'">
                                        <i class="tim-icons icon-link-72"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr onclick="location.href = 'http://10.120.110.221:8021'">
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">08</label>
                                    </div>
                                </td>
                                <td>
                                    <p class="title">Hệ thống xin cấp linh kiện</p>
                                    <p class="text-muted">Hệ thống quản lý, xin cấp linh kiện thuộc bộ phận LOG.</p>
                                </td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task" onclick="location.href = 'http://10.120.110.221:8021'">
                                        <i class="tim-icons icon-link-72"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr onclick="location.href = 'http://10.120.110.221:8022'">
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">09</label>
                                    </div>
                                </td>
                                <td>
                                    <p class="title">Shindengen</p>
                                    <p class="text-muted">Hệ thống quản lý check hàng,  in tem hàng gia công thuộc bộ phận AI.</p>
                                </td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task" onclick="location.href = 'http://10.120.110.221:8022'">
                                        <i class="tim-icons icon-link-72"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr onclick="location.href = 'http://10.120.110.221:8080'">
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">10</label>
                                    </div>
                                </td>
                                <td>
                                    <p class="title">Họp sáng</p>
                                    <p class="text-muted">Hệ thống quản lý thông tin họp đầu giờ.</p>
                                </td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task" onclick="location.href = 'http://10.120.110.221:8080'">
                                        <i class="tim-icons icon-link-72"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr onclick="location.href = 'http://10.120.110.221:8090'">
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">11</label>
                                    </div>
                                </td>
                                <td>
                                    <p class="title">Weekly Meeting</p>
                                    <p class="text-muted">Hệ thống quản lý thông tin họp hàng tuần.</p>
                                </td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task" onclick="location.href = 'http://10.120.110.221:8090'">
                                        <i class="tim-icons icon-link-72"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr onclick="location.href = 'http://10.120.110.221:8100'">
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">12</label>
                                    </div>
                                </td>
                                <td>
                                    <p class="title">WI Digital</p>
                                    <p class="text-muted">Hệ thống hướng dẫn thao tác thuộc bộ phận ENG.</p>
                                </td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task" onclick="location.href = 'http://10.120.110.221:8100'">
                                        <i class="tim-icons icon-link-72"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr onclick="location.href = 'http://10.120.110.221:8102'">
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">13</label>
                                    </div>
                                </td>
                                <td>
                                    <p class="title">Update lịch làm việc của JP</p>
                                    <p class="text-muted">Hệ thống cập nhật lịch làm việc của nhân viên người Nhật.</p>
                                </td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task" onclick="location.href = 'http://10.120.110.221:8102'">
                                        <i class="tim-icons icon-link-72"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr onclick="location.href = 'http://10.120.110.221:8103'">
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">14</label>
                                    </div>
                                </td>
                                <td>
                                    <p class="title">Audit Syteline</p>
                                    <p class="text-muted">Hệ thống Audit Syteline.</p>
                                </td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task" onclick="location.href = 'http://10.120.110.221:8103'">
                                        <i class="tim-icons icon-link-72"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr onclick="location.href = 'http://10.120.110.221:8400'">
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">15</label>
                                    </div>
                                </td>
                                <td>
                                    <p class="title">Phát quà</p>
                                    <p class="text-muted">Hệ thống Phát quà thuộc bộ phận AMD.</p>
                                </td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task" onclick="location.href = 'http://10.120.110.221:8400'">
                                        <i class="tim-icons icon-link-72"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr onclick="location.href = 'http://10.120.110.221:8999'">
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">16</label>
                                    </div>
                                </td>
                                <td>
                                    <p class="title">Hệ thống book phòng họp</p>
                                    <p class="text-muted">Hệ thống đặt lịch họp và quản lý phòng họp.</p>
                                </td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task" onclick="location.href = 'http://10.120.110.221:8999'">
                                        <i class="tim-icons icon-link-72"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr onclick="location.href = 'http://10.120.112.249:8889'">
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">17</label>
                                    </div>
                                </td>
                                <td>
                                    <p class="title">Đăng ký nghỉ</p>
                                    <p class="text-muted">Hệ thống quản lý đăng ký nghỉ thuộc bồ phận HR.</p>
                                </td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task" onclick="location.href = 'http://10.120.112.249:8889'">
                                        <i class="tim-icons icon-link-72"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-category">Total LOG Shipments</h5>
                <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> 763,215</h3>
            </div>
            <div class="card-body">
                <div class="chart-area log-chart">
                    <canvas id="chartLinePurple_01"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-header ">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <h5 class="card-category">Total MF Production</h5>
                        <h2 class="card-title">Performance</h2>
                    </div>
                    <div class="col-sm-6">
                        <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                            <label class="btn btn-sm btn-primary btn-simple active" id="0">
                                <input type="radio" name="options" checked>
                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Accounts</span>
                                <span class="d-block d-sm-none">
                                    <i class="tim-icons icon-single-02"></i>
                                </span>
                            </label>
                            <label class="btn btn-sm btn-primary btn-simple" id="1">
                                <input type="radio" class="d-none d-sm-none" name="options">
                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Purchases</span>
                                <span class="d-block d-sm-none">
                                    <i class="tim-icons icon-gift-2"></i>
                                </span>
                            </label>
                            <label class="btn btn-sm btn-primary btn-simple" id="2">
                                <input type="radio" class="d-none" name="options">
                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Sessions</span>
                                <span class="d-block d-sm-none">
                                    <i class="tim-icons icon-tap-02"></i>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="chartBig1"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-category">Monthly Deliver</h5>
                <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i> 3,500,000 ¥</h3>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="CountryChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-category">Completed Tasks</h5>
                <h3 class="card-title"><i class="tim-icons icon-send text-success"></i> 12,100K</h3>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="chartLineGreen"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
@section js_section {
    <script>
        $(document).ready(function () {
            // Javascript method's body can be found in assets/js/demos.js
            demo.initDashboardPageCharts();
        });
    </script>
}
