[*.cs]

# CS8632: The annotation for nullable reference types should only be used in code within a '#nullable' annotations context.
dotnet_diagnostic.CS8632.severity = none

# IDE0056: Use index operator
csharp_style_prefer_index_operator = true:none

# CS0618: Type or member is obsolete
dotnet_diagnostic.CS0618.severity = none

# CS0168: Variable is declared but never used
dotnet_diagnostic.CS0168.severity = none

# CS1998: Async method lacks 'await' operators and will run synchronously
dotnet_diagnostic.CS1998.severity = none
